<!-- The navigation menu -->
<div class="centre">
	<a href="/"><img class="menu" alt="PLUG Homepage" src="/images/home.png"></a>
	<a href="/about_linux.html"><img class="menu" alt="About Linux" src="/images/about_linux.png"></a>
	<a href="/mailing_list.html"><img class="menu" alt="PLUG Mailing List" src="/images/mailing_list.png"></a>
	<a href="/talks/index.html"><img class="menu" alt="Talks" src="/images/talks.png"></a>
	<a href="/venue.html"><img class="menu" alt="Venue" src="/images/venue.png"></a>
	<a href="/code_of_conduct.html"><img class="menu" alt="Code of Conduct" src="/images/code_of_conduct.png"></a>
</div>
