<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<meta name="google-site-verification" content="O_JgGTy0CroxzFg9f0cMnyxDVGH9DQkVYtFQS0-VZOQ" />
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" media="all" href="/css/plug.css">
		<link rel="stylesheet" type="text/css" media="screen and (max-width: 360px)" href="/css/plug_portrait.css">
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 361px) and (max-width: 480px)" href="/css/plug_landscape.css">
		<link rel="stylesheet" type="text/css" media="screen and (min-width: 481px)" href="/css/plug_desktop.css">
	</head>
	<body>
		{% include banner.html %}
		{% include navigation.html %}
		{{ content }}
	</body>
</html>
